/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // background: #fafafa;
    min-height: 56px;
    padding: 15px  0;
    margin-bottom: 20px;
    // visibility: hidden;
    border-bottom: 1px solid #fafafa;
    // padding: 0 10px;
    // padding-left: 20px; 
    // padding-right: 20px;

    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.site-header-with-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    overflow: hidden;
    // height: 150px;

    &:after {
        content: '';
        background: linear-gradient(#111    , transparent);
        position: absolute;
        z-index: 1;
        top: -75px;
        left: 30px;
        width: 100%;
        height: 95px;
        transform: rotate(7deg);
    }

    @include media-query($on-laptop) {
        height: 370px;
    }

    @include media-query($on-palm) {
        height: 280px;
    }

    @include media-query($on-mobile) {
        height: 130px;
    }

    .site-nav .page-link {
        color: #fafafa;

        &:hover {
            border-color: #fafafa;
        }
    }
}

.menu-space {
    position: relative;
    z-index: 99;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    // float: left;
    background: #333;
    padding: 20px 15px;

    &,
    &:visited {
        color: #fafafa;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        text-decoration: none;
        padding: 10px 0;
        border-top: 1px solid transparent;

        &:hover {
            border-color: inherit;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    background: #fafafa;
    padding: ($spacing-unit*2) 0 $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: $text-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    li {
        display: inline-block;
        padding-right: $spacing-unit;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(55% - (#{$spacing-unit} / 2));
    width:         calc(55% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(10% - (#{$spacing-unit} / 2));
    width:         calc(10% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    text-align: right;
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        display: none;
    }

    .footer-col-3 {
        text-align: left;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

    // .footer-col-3 {
    //     text-align: right;
    // }


.cover-profile-avatar {    
    float: left;
    padding-right: $spacing-unit;
    padding-bottom: $spacing-unit;

    img {
        border-radius: 50%;        
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        // margin-bottom: $spacing-unit;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #fafafa;
    }

    p {
        color: #999;
        color: #474747;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    // font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
