<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div class='menu-side'>
   {% include menu-side.html %}
  </div>

  <div class='body-content'>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </div>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">


    <script src='{{ "/js/zepto.min.js" | prepend: site.baseurl }}'></script>
    <script src='{{ "/js/main.js" | prepend: site.baseurl }}'></script>

  </body>

</html>
